html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: darkgreen;
/* Use a system font, if none are available use an available sans-sarif   font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40% 15% 25% 20%;
  grid-template-areas: 
        "Header"
        "Main"
        "Content"
        "Footer"; */
}

main {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  border-radius: 50%;
  border: 5px solid #68d08b;
}

#status {
  margin-left: auto;
  padding: 5px;
  color: gray;
}

#brand {
  display: none;
}

#occupation {
  background-color: #f3f3f3;
  width: 100%;
  text-align: center;
}

#contact {
  display: flex;
  width: 100%;

}

#contact p {
  width: 50%;
  border: 1px dotted blue;
  text-align: center;
  padding: 25px;
  margin: 0px;
  background-color: #5abd7b;
}

#contact p:first-child{
  background-color: #68d08b;
  /*selecting first child*/
}

/* #status{
  grid-area: header;
  background-color: white;
  

}

img {
  grid-area: header;
  border-radius: 50%;
  border: 5px solid green;
  background-color: white;
}

h1 {
  grid-area: header;
  background-color: white;
}

#occupation {
  grid-area: main;
  background-color: lightgray;
}

#brand {
  grid-area: main;
  background-color: lightgray;

}

#offer {
  grid-area: content;
  background-color: white;
}

#contact {
  display: flex;
  align-items: center;
  grid-area: footer;
  background-color: green;

} */


/* .flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
} */


/* change to grid */
@media only screen and (min-width: 600px) {
  main {
    width: 700px;
    display: grid;
    text-align: left;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto auto auto;
    /*auto = spans evenly*/
    grid-template-areas: 
    "status name"
    "img occupation"
    "img brand"
    "contact offer" ;
    /*designing the grid
    apply to properties later*/
  }
  #status {
    grid-area: status;
    margin-right: auto;
    width: 100%;
    margin-right: 0 auto;
  }

  #name {
    grid-area: name;
    height: 100%;
    background-color:#f3f3f3;
    padding-left: 50px;
    padding-top: 50px;
  }

  img {
    grid-area: img;
    margin: 0 auto;
  }

  #occupation {
    grid-area: occupation;
    height: 100%;
    /* margin: 0; */
    background-color: 
    #f3f3f3;
    text-align: left;
    padding-left: 50px;
    

  }

  #brand {
    grid-area: brand;
    display: flex;
    background-color: #f3f3f3;
    border-left: 5px solid #5abd7b;
    height: 100%;
    color: gray;
    padding-left: 20px;
  }

  #contact {
    grid-area: contact;
    margin-top: 20px;
  }

 
  #offer {
    grid-area: offer;
    background-color:#f3f3f3;
    height: 100%;
    padding-left: 50px;
  }
}